<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!--
    This is a template WiX installer configuration.
    To build this, you need the WiX Toolset (http://wixtoolset.org/).
    Command line build: `wix build -ext Wix4.Util.dll Product.wxs`
    -->
    <Product Id="*" Name="AI Traffic Interceptor" Language="1033" Version="1.0.0.0" Manufacturer="Cascade Labs" UpgradeCode="{0B52C14F-7F8F-4D51-AB3B-FA1B7DF0358C}">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="AI Traffic Interceptor" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="AI Traffic Interceptor">
                    <!-- The files will be harvested from the build output directories -->
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="AI Traffic Interceptor" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <!-- TODO: Point these paths to the actual build output -->
            <Component Id="CollectorExe" Guid="*" ServiceAutoStart="yes">
                <File Id="CollectorExeFile" Source="..\build\collector\bin\Release\net8.0\ai_collector.exe" KeyPath="yes" />
                <!-- Optional Windows service to run collector in background -->
                <ServiceInstall Id="CollectorService" Name="AITrafficInterceptorCollector" DisplayName="AI Traffic Interceptor Collector" Description="Captures AI traffic events from injected DLLs" Start="auto" Type="ownProcess" />
                <ServiceControl Id="CollectorServiceControl" Name="AITrafficInterceptorCollector" Start="install" Stop="both" Remove="uninstall" Wait="yes"/>
                <!-- Environment variable to make install dir discoverable -->
                <Environment Id="AitiHome" Name="AITI_HOME" Value="[INSTALLFOLDER]" Permanent="yes" Part="all" System="yes" />
                <!-- Start-menu shortcut -->
                <Shortcut Id="CollectorShortcut" Directory="ProgramMenuDir" Name="AI Traffic Interceptor Collector" WorkingDirectory="INSTALLFOLDER" Advertise="no" Target="[INSTALLFOLDER]ai_collector.exe" />
            </Component>
            <Component Id="InjectorExe" Guid="*">
                <File Id="InjectorExeFile" Source="..\build\injector\Release\ai_injector.exe" KeyPath="yes" />
            </Component>
            <Component Id="HookDll" Guid="*">
                <File Id="HookDllFile" Source="..\build\dll\Release\ai_hook.dll" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
